@charset "utf-8";
#jyh{
    width: 100%;
    height: 4320px;
    position: relative;
    //侧边栏
    #aside{
        position: fixed;
        right: 5px;
        bottom: 100px;
        ul{
            li:nth-child(1){
               width: 60px;
               height: 60px;
               background: url("img/icon_bg.png");
               margin-left: 50px;
               position: relative;
               img{
                   position: absolute;
                   right: 100px;
                    width: 100px;
                    height: 100px;
                    display: none;
                    
                }
                &:hover img{
                    display: block;
                } 
            }
            li:nth-child(2){
                width: 60px;
                height: 60px;
                background: url("img/icon_bg.png") no-repeat 0 -70px;
                margin-left: 50px;
                position: relative;
                img{
                    position: absolute;
                    right: 100px;
                    width: 100px;
                    height: 100px;
                    display: none;
                }
                &:hover img{
                    display: block;
                } 
            }
            li:nth-child(3){
                width: 60px;
                height: 60px;
                background: url("img/icon_bg.png") no-repeat 0 -140px;
                margin-left: 50px; 
            }
        }
    }
    
    //banner部分
    #banner{
        height: 673px;
        //background: greenyellow;
        border: 1px solid #ccc;
        //banner左边部分
        .banner_l{
            width: 246px;
            height: 670px;
            color: #333;
            border: 1px solid #ccc;
            //background: olive;
            ul li{
                padding-left: 20px;
                box-sizing: border-box;
                height: 46px;
                line-height: 46px;
                color: #333;
                &:hover{
                    background: #dc0f50;
                    color: #fff;
                }
            }
            
        }
        //banner中边部分
        .banner_m{
            width: 730px;
            height: 673px;
            //background: violet;
            #box{
                width: 680px;
                height: 382px;
            }
            ul li{
                height: 54px;
                float: left;
                margin-left: 25px;
                line-height: 54px;
                font-size: 18px;
                a:hover{
                    color: #dc0f50;
                }
            }
        }
        //banner右边部分
        .banner_r{
            width: 210px;
            height: 673px;
//          background: green;
            margin-top: 20px;
            box-sizing: border-box;
            //banner右边部分 上面部分
            .banner_r_t{
                height: 206px;
                border: 1px solid #ccc;
                ul li{
                    text-align: center;
                    &:nth-child(1){
                        margin: 0 auto;
                        width: 40px;
                        height: 40px;
                        background: url("img/dome_07.png") no-repeat;
                        margin-top: 25px;
                    }
                    &:nth-child(2){
                        margin-top: 18px;
                        margin-bottom: 30px;
                    }
                    &:nth-child(3){
                        width: 160px;
                        height: 40px;
                        line-height: 45px;
                        background: #dc0f50;
                        margin: 0 auto;
                        a{
                            color: #fff;
                        }
                    }
                    &:nth-child(4){
                        font-size: 12px;
                    }
                }
            }
             //banner右边部分 中间部分
            .banner_r_m{
                height: 206px;
                //background: yellowgreen;
                border: 1px solid #ccc;
                text-align: center;
                padding-top: 30px;
                box-sizing: border-box;
                p {
                    .tel{
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        background: url("img/mobile1.png") no-repeat;
                    }
                    span:nth-child(2){
                        font-size: 20px;
                        color: #666;
                        font-weight: bold;
                    }
                }
                ul li{
                    margin-top: 20px;
                    margin-left: 10px;
                    float: left;
                    .icon1{
                        display: inline-block;
                        width: 26px;
                        height: 17px;
                        background: url("img/icon_2.png") no-repeat;
                        &:hover{
                           background: url("img/icon_2.png") no-repeat -28px 0;
                        }
                    }
                    .icon2{
                        display: inline-block;
                        width: 26px;
                        height: 23px;
                        background: url("img/icon_2.png") no-repeat 0 -17px;
                        &:hover{
                           background: url("img/icon_2.png") no-repeat -28px -17px; 
                        }
                    }
                    .icon3{
                        display: inline-block;
                        width: 27px;
                        height: 20px;
                        background: url("img/icon_2.png") no-repeat 0 -40px;
                        &:hover{
                            background: url("img/icon_2.png") no-repeat -28px -40px;
                        }
                    }
                    .icon4{
                        display: inline-block;
                        width: 25px;
                        height: 20px;
                        background: url("img/icon_2.png") no-repeat 0 -60px;
                        &:hover{
                          background: url("img/icon_2.png") no-repeat -28px -60px;  
                        }
                    }
                    .font{
                        display: inline-block;
                        width: 40px;
                        color: #333;
                        text-align: center;
                        font-size: 14px;
                    }
                    
                }
                
             
        }
        //banner右边部分 下面部分   ****
        .banner_r_b{
            height: 200px;
//          background: darkolivegreen;
            border-top: 2px solid #dc0f50;
            p{
                margin-top: 10px;
            }
            ul{
                margin-top: 25px;
                li{
                    float: left;
                    a{
                        text-align: center;
                        img{
                            width: 100px;
                            height: 100px;
                            display: block;
                            margin-left: 4px;
                        }
                        span{
                            display: inline-block;
                            width: 100px;
                            height: 28px;
                            background: #dc0f50;
                            line-height: 28px;
                            text-align: center;
                            font-size: 12px;
                            color: #fff;
                            margin-top: 10px;
                            margin-left: 4px;
                        }
                    }
                }
            } 
        }
        
      }
    }
    
    
    #main{
        height: 3100px;
//      background: gray;
        //左右滚动轮播
        .lunbo1{
            height: 380px;
//          background: yellowgreen;
            .lunbo1_t{
                height: 30px;
                h2{
                    display: inline-block;
                    font-size: 24px;
                    color: #333;
                    line-height: 30px;
                    padding-right: 20px;
                    margin-left: 5px;
                }
            }
            #goodlists{
                li{
                    width: 180px;
                    height: 260px;
                    a{
                        display: inline-block;
                        width: 180px;
                        height: 260px;
                        position: relative;
                        span{
                            display: inline-block;
                            width: 60px;
                            height: 27px;
                            background: #dc6c8f;
                            color: #fff;
                            text-align: center;
                            line-height: 27px;
                            position: absolute;
                            right: 0;
                            bottom: 80px;
                        }
                        .left{
                            width: 110px;
                            font-size: 12px;
                            margin-top: 15px;
                            b{
                                display: block;
                                color: #333;
                                &:hover{
                                    color: #DC0F50;
                                }
                            }
                            i:nth-child(2){
                                color: red;
                            }
                            i:nth-child(3){
                                text-decoration: line-through;
                                color: #ccc;
                            }
                        }
                        .right{
                            width: 60px;
                            height: 60px;
                            background: red;
                            color: white;
                            margin-top: 15px;
                            font-size: 22px;
                            text-align: center;
                        }
                    }
                }
            }
        }
        .lunbo2{
            height: 550px;
//          background: orange;
            .lunbo2_t{
                height: 40px;
                line-height: 40px;
                h3{
                    margin-left: 10px;
                    font-size: 20px;
                    display: inline-block;
                }
                p{
                    color: #ccc;
                    font-size: 20px;
                    display: inline-block;
                    margin-right: 200px;
                }
            }
            .lunbo2_b{
                height: 510px;
//              background: violet;
                .lunbo2_b_l{
                    width: 280px;
                    height: 510px;
                    background: yellowgreen;
                    .top{
                        height: 386px;
//                      background: #008120;
                    }
                    .bottom{
                       height: 124px; 
                       background: violet;
                       li{
                           float: left;
                           margin: 10px 0 5px 11px;
                           img{
                               width: 80px;
                               height: 30px;
                           }
                       }
                    }
                }
                .lunbo2_b_m{
                    width: 580px;
                    height: 510px;
//                  background: magenta;
                } 
                .lunbo2_b_r{
                    width: 310px;
                    height: 510px;
                    background: firebrick;
                }

            } 
        }
        .lunbo3{
            height: 560px;
            background: lightskyblue;
        }
        .lunbo4{
            height: 560px;
            background: lavender;
        }
        .lunbo5{
            height: 560px;
            background: yellowgreen;
        }
        .lunbo6{
            height: 490px;
            background: lightskyblue;
        }
    }
    
}
